@font-face {
    font-family: x1;
    src: url(Jost-VariableFont_wght.ttf);
}

* {
    font-family: x1;
    background-color: #1a1a1a;
    font-size: 17px;
    font-weight: 600;
    color: #fff; /* Setting text color to white */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0; /* Remove default body margin */
}

.first-box {
    height: 54px;
    width: 60%;
    background-color: #865DFF;
    display: flex;
    align-items: center; /* Center items vertically */
    padding: 0 10px; /* Adjust padding */
    border-radius: 10px;
    margin-top: 10px; /* Add some margin */
}

.input-task {
    flex: 1; /* Take remaining space */
    border: none;
    height: 100%;
    border-radius: 4px;
    padding: 0 10px; /* Adjust padding */
}

.add-task-btn {
    --bg: #000;
    --hover-bg: #ff90e8;
    --hover-text: #000;
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 10px 20px; /* Adjust padding */
    background: var(--bg);
    transition: 0.2s;
}

.add-task-btn:hover {
    color: var(--hover-text);
    background: var(--hover-bg);
}

#TaskContainer {
    padding: 10px;
    color: #fff;
    background-color: #865DFF;
    width: 60%;
    border-radius: 4px;
    margin-top: 10px;
}

.task-item {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between;
    margin-bottom: 5px; /* Add some space between task items */
    padding: 10px;
    background-color: #565656; /* Darker background color */
    border-radius: 4px;
}

.task-item button {
    --bg: #000;
    --hover-bg: #ff90e8;
    --hover-text: #000;
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 5px 15px; /* Adjust padding */
    background: var(--bg);
    transition: 0.2s;
}

.task-item button:hover {
    color: var(--hover-text);
    background: var(--hover-bg);
}
